/build/

/**/.idea/

# VSCode directory may be ignored, but sometimes things like workspaces can be
# shared to allow for sharing build configurations.
# Easy debugger setup is nice for new hires.
/.vscode/
!/.vscode/tasks.json
!/.vscode/launch.json